* {
  line-height: 1.6;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.project-content a {
  color: #8b5cf6;
  text-decoration: none;
}

.contact-box p {
  margin-bottom: 25px;
}

footer {
  padding: 40px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.1);
}

@media (max-width: 900px) {

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 80px;
  }

  .hero h2 {
    font-size: 45px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: -100%;
    flex-direction: column;
    background: #111827;
    width: 220px;
    padding: 30px;
    transition: 0.3s;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-btn {
    display: block;
  }

}
